/*------------------------------------*\
    #EXPERIENCE
\*------------------------------------*/

$experience-border-radius:  $border-radius !default;
$experience-background-gap: 40px !default;

.experience {
    position: relative;
    margin-bottom: $spacing-unit * 10;
    text-align: left;
    background: $white;
    border-radius: $experience-border-radius;
    box-shadow: $box-shadow--experience;
}

    .experience__background {
        position: absolute;
        top: -$experience-background-gap;
        right: -($experience-background-gap / 4);
        bottom: $experience-background-gap * 2.5;
        left: -($experience-background-gap / 4);
        z-index: -1;
        background-color: $brown;
        border-top-right-radius: $experience-border-radius;
        border-top-left-radius: $experience-border-radius;

        @include respond-to('medium') {
            right: -$experience-background-gap;
            left: -$experience-background-gap;
        }
    }

    .experience__card {
        display: flex;
        flex-direction: column;

        @include respond-to('wide') {
            flex-direction: row;
        }
    }

        .experience__card-details {
            @include respond-to('wide') {
                flex: 55%;
            }
        }

            .experience__details {
                padding: $spacing-unit * 4;
            }

                .experience__company {
                    margin: $spacing-unit 0;
                    color: $black;
                }

                .experience__role {
                    display: inline-block;
                    margin-bottom: double($spacing-unit);
                    color: $black;
                }

                .experience__location {
                    margin-bottom: halve($spacing-unit);
                    font-size: 18px;
                    color: $black;
                    vertical-align: middle;
                }

                    .experience__location-flag {
                        width: 20px;
                        vertical-align: middle;
                    }

                    .experience__location-name {
                        vertical-align: middle;
                    }

                .experience__date {
                    display: inline-block;
                    margin: double($spacing-unit) 0;
                    font-size: 18px;
                    color: $yellow;
                }

                .experience__about {
                    font-size: 18px;
                }

        .experience__card-cover {
            min-height: 400px;
            background-size: cover;
            background-position: center;
            border-bottom-right-radius: $experience-border-radius;
            border-bottom-left-radius: $experience-border-radius;

            @include respond-to('wide') {
                flex: 45%;
                border-radius: 0; // Reset
                border-top-right-radius: $experience-border-radius;
                border-bottom-right-radius: $experience-border-radius;
            }
        }
