/*------------------------------------*\
    #GRID
\*------------------------------------*/

.grid--left {
    text-align: left;
}

    .grid__cell--45-at-wide {
        @include respond-to('wide') {
            width: 45%;
        }
    }

    .grid__cell--55-at-wide {
        @include respond-to('wide') {
            width: 55%;
        }
    }
