<div class="stack__section">
  <h4 class="stack__section-title"><%= title %></h4>
  <div class="stack__list">

        <div class="grid grid--left">
          <% stack.each do |item| %>
            <div class="grid__cell grid__cell--25 grid__cell--16-at-wide">
              <div class="stack__item">
                <div class="stack__item-image-container">
                  <%= inline_svg "stack/#{item}.svg", class: 'stack__item-image' %>
                </div>
                <span class="stack__item-title"><%= item.titleize %></span>
              </div>
            </div>
          <% end %>
        </div>

  </div>
</div>
