/*------------------------------------*\
    #COLORS
\*------------------------------------*/

/**
 * Color Variables
 */

$black:                 #000000 !default;
$white:                 #ffffff !default;
$blue:                  #3ba3ff !default;
$yellow:                #f29b34 !default;
$gray:                  #888888 !default;
$gray--light:           #6f6d6f !default;
$gray--x-light:         #f1f2f6 !default;
$green:                 #71ba51 !default;
$green--light:          #2cc990 !default;
$red:                   #ff4757 !default;
$red--light:            #ee5d5b !default;
$red--x-light:          #fdf1f0 !default;
$purple:                #69297c !default;
$brown:                 #fcf5e8 !default;


$brand-facebook:        #3b5998 !default;
$brand-stackoverflow:   #fe7a16 !default;
$brand-github:          #181717 !default;
$brand-gmail:           #d14836 !default;
$brand-medium:          #12100e !default;
