/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/

/**
 * Font Stacks
 */

$font-numeric:  'Varela Round', sans-serif !default;
$font-logo:     'Lato', sans-serif !default;

$font-primary:  'Titillium Web', sans-serif !default;
$font-secondary: 'Rubik', sans-serif !default;
